@tailwind base;
@tailwind components;
@tailwind utilities;

/* #79  */
h1 { @apply text-3xl mt-12 mb-8; }
h2 { @apply text-2xl mt-8 mb-6; }
h3 { @apply text-xl mt-6 mb-4; }
h4 { @apply text-lg mt-4 mb-2; }
ul { @apply list-disc pl-7; }
ul { list-style: disc outside ;}
ul ul {list-style: circle outside ;}
ul ul ul { list-style: square outside; }
ul ul ul ul {list-style: disc outside ;}
ul ul ul ul ul {list-style: circle outside ;}
ul ul ul ul ul ul {list-style: square outside ;}
ol { @apply list-decimal pl-7; }
ol { list-style: decimal; }
ol ol { list-style: lower-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: decimal; }
ol ol ol ol ol { list-style: lower-alpha; }
ol ol ol ol ol ol { list-style: lower-roman; }
li { @apply pt-2; }