@tailwind base;
@tailwind components;
@tailwind utilities;

/* #79  */
h1 { @apply text-3xl mt-12 mb-4; }
h2 { @apply text-2xl mt-9 mb-3; }
h3 { @apply text-xl mt-6 mb-2; }
h4 { @apply text-lg mt-4 mb-1; }

a { @apply border-b border-fg-1 text-fg-3 hover:border-fg-4 hover:text-fg-4; }

ul { @apply list-disc pl-7; }
ul { list-style: disc outside ;}
ul ul {list-style: circle outside ;}
ul ul ul { list-style: square outside; }
ul ul ul ul {list-style: disc outside ;}
ul ul ul ul ul {list-style: circle outside ;}
ul ul ul ul ul ul {list-style: square outside ;}
ol { @apply list-decimal pl-7; }
ol { list-style: decimal; }
ol ol { list-style: lower-alpha; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: decimal; }
ol ol ol ol ol { list-style: lower-alpha; }
ol ol ol ol ol ol { list-style: lower-roman; }
li { @apply py-1.5; }

blockquote { @apply border-l-3 border-fg my-2 px-4 py-0.5 italic text-fg-4 ; }

code { @apply font-code; }