name: Super Lint Code Base

# Documentation:
# https://github.com/github/super-linter

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint Code Base
        uses: docker://github/super-linter:v2.2.0
        env:
          VALIDATE_ALL_CODEBASE: true